.section-padding{
    padding: 3rem 0;
}
.flexbox-parent{
    max-width: 95vw;
    margin: 2rem auto;
}
@media screen and (min-width:768px){
    .flexbox-parent-medium{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}
.section-title{
    display: flex;
    padding: 2rem 1.5rem;
}

 .section-icon{
    font-size: 4rem;
    color: yellow;
    margin-right: 1rem;
}
.section-text{
    padding-left: 1rem;
    line-height: 1.5;
    border-left: 0.33rem solid gray;
}

.rev-section-title{
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 1.5rem;
}

 .rev-section-icon{
    font-size: 4rem;
    color: yellow;
    margin-left: 1rem;
}
.rev-section-text{
    padding-right: 1rem;
    line-height: 1.5;
    border-right: 0.33rem solid gray;
}
.preloader{
    display: flex;
    justify-content: center;

}
.header{
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

@media screen and (max-width:768px){
    .header{
        background: url('../images/working-it.jpg') center/cover fixed no-repeat;
    }
}

.banner{
    margin-left: 2rem;
    border-left: 0.5rem solid yellow;

}
.banner-title{
    margin-left: 1rem;
    text-transform: uppercase;
}
.bannertitle-name{
    text-decoration: underline;
}
.video_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}
.video_item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245,243,245,0.3);
    z-index: 2;
}
.navBtn{
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    color: yellow;
    z-index: 3;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes pulse{
    0%{
        transform: scale(1.0)
    }
    50%{
        transform: scale(1.5)
    }
    100%{
        transform: scale(1.0)
    }
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255,201,20,0.5);
    z-index: 4;
    width: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}
.nav-links{
    list-style-type: none;
    padding: 0;
    /* margin-top: 5rem; */
}
.nav-single-link{
    display: block;
    text-decoration: none;
    color: rgb(31, 29, 29);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
}
.nav-single-link:hover{
    background-color: black;
    color: rgb(185, 185, 14);
    text-decoration: none;
}
.nav-show{
    width: 10rem;
}
.social-icons{
    position: absolute;
    bottom: 4%;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    justify-content: space-around;
}
.social-icon{
    font-size: 2rem;
}
.social-icon:hover{
    color: yellow;
    transform: scale(1.5);
}
.facebook{
    color: #3b5998;
}
.twitter{
    color: #1dcaff;
}
.instargram{
    color: #cd486b;
}
.video-switch-container{
    display: none;
}
@media screen and (min-width:768px){
    .video-switch-container{
        display: block;
        position: absolute;
        bottom: 5%;
        left: 5%;
        z-index: 3;
        
    }

    .video-switch{
        position: relative;
        width: 5rem;
        background: yellow;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        padding: 0.25rem;
        cursor: pointer;
        border-radius: 0.5rem;
    }
    .video-switch-btn{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        border-radius: 0.5rem;
        background: blue;
    }
    .btnSlide{
        left: 50%;
    }
}
.service{
    display: flex;
    margin: 1rem 0;
}

.service-icon{
    font-size: 4rem;
    padding: 0.5rem;
    color: yellow;
    align-self: center;
    transition: all 0.5s linear;
    
}
.service:hover .service-icon{
    background: blue;
    color: white;
}
.service-text{
    padding: 0.5rem;
    
}  
.service-name {
    text-transform: capitalize;
}
.service-info{
    width: 70%;
}
.contact{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/contact.jpg')center/cover fixed no-repeat;
    clip-path: polygon(0 10%,100% 0,100% 90%,0 100%);
}
.contact-input{
    background: transparent;
    border: none;
    border-bottom: 0.25rem solid white;
    font-size: 2rem;
    padding: 0.25rem;
    color: white;
    outline: none;
    text-transform: uppercase;
    margin: 0.5rem;

}
.project{
    position: relative;
    background: linear-gradient(yellow,yellow);

}

.project-img{
    display: block;
    width: 100%;
    transition: all 0.5s linear;
    
}
.project:hover .project-img{
    opacity: 0.5;
}
.project-icon{
    font-size: 4rem;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: scale(0);
    transition: all 0.5s linear;
    color: yellow;
    cursor: pointer;
    z-index: 2;
}
.project:hover .project-icon{
    transform: scale(1) translate(-50%,-50%);
}
.project-outline{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 0.5rem solid black;
    outline-offset: -2rem;
    transform: scale(0);
    transition: all 0.5s linear;
}
.project:hover .project-outline{
    transform: scale(1);
}
@media screen and (min-width:768px){
    .project{
        flex: 0 0 50%;
    }
}
@media screen and (min-width:992px){
    .project{
        flex: 0 0 25%;
    }
}

.pro-img{
    min-height: 50vh;
    background: url('../images/working.jpg')center/cover fixed no-repeat;
}
.pro-bar{
    padding: 0 2rem;
}
.pro-bar-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    color: #1dcaff;
}
.pro-item{
    margin: 2rem 0;
}
.pro-bcg{
    width: 100%;
    height: 0.7rem;
    background: gray;
    position: relative;
    border-radius: 0.5rem;
}
.pro-val{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: yellow;
    border-radius: 0.5rem;
    transition: all 2s linear;
}
.pro:hover .pro-val-one{
    width: 100%;
}
.pro:hover .pro-val-two{
    width: 90%;
}
.pro:hover .pro-val-three{
    width: 80%;
}
.pro:hover .pro-val-four{
    width: 70%;
}
.pro:hover .pro-val-five{
    width: 60%;
}
.pro-item{
    flex: 0 0 50%;
}
@media screen and (min-width:992px){
    .pro-img{
        clip-path: polygon(0 0,100% 0,70% 100%,0 100%);
    }
}
.pro-info{
    align-self: center;
}
.about{
    background: gray;
    color: black;
}
.about-img{
    min-height: 60vh;
    display: flex;
    justify-content: center;
}
.about-img-name{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-style: italic;
}
.about-img-container{
    flex:0 0 80%;
    background: yellow;
    display: flex;
    flex-direction: column;
    padding:2rem 1rem;
    border-radius: 0.25rem;
}

.img-photo{
    display: block;
    width: 100%;
    margin: 1rem 0;
} 
.about-info-title{
    font-size: 2rem;
    letter-spacing: 0.25rem;
    text-transform: capitalize;
    text-align: center;
}
.accordion{
    border: 0.15rem solid black;
    margin: 1rem 0;
    border-radius: 0.5rem;
 }
 .accordion-header{
     display: flex;
     background: white;
     color: black;
     justify-content: space-between;
     font-size: 1.3rem;
     text-transform: uppercase;
     border-bottom: 0.15rem solid black;
     

 }
 .accordion-icon{
     padding: 0.75rem;
     background: black;
     color: yellow;
     transition: all 0.5s linear;
 }
 .accordion-content{
     padding: 1rem 2rem;
     line-height: 1.5;
     background: white;
     text-align: center;
     display: none;
 }
 .accordion-btn{
     margin: 0.5rem;
     transition: all 0.5s linear;
     border: 0.05rem solid black;
     padding: 0.08rem 0.22rem;
     border-radius: 0.25rem;
 }
 .rotate{
     transform: rotate(-180deg);
 }
 .accordion-header:hover .accordion-icon{
     background: yellow;
     color: black;  

 }
 .accordion-header:hover .accordion-btn{
    background: yellow;
    color: black;
}
@media screen and (min-width:768px){
    .about-img{
        flex: 0 0 calc(40% - 0.5rem);
    }
    .about-info{
        flex: 0 0 60%;
        align-self: center;
    }
}

/* number */
.number{
    text-align: center;
    background: black;
    color: yellow;
    transition: all 1s ease-in-out;
    
}
.number:hover{
    background: blue;
    color: coral;
}
.number-icon{
    font-size: 4rem;
}
.number-data{
    font-size: 1.5rem;
}
.number-name{
    text-transform: uppercase;
}
@media screen and (min-width:768px){
    .numbers{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .number{
        flex: 0 0 50%;
    }
}
@media screen and (min-width:992px){
    .number{
        flex: 0 0 25%;
    }
}
/* team */

.team-img{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.team-img-item{
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    opacity: 1;
    transition: all 1s ease-in-out;
    cursor: pointer;
    border: 0.3rem solid transparent;
    box-shadow: 0 5px 10px rgba(14, 13, 13,0.5);
    
}
.active{
    border-color: blue;
}
.team-info{
    width: 80%;
    margin:4rem auto 2rem auto;
    background: chartreuse;
    color: black;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);

}
.team-info-img{
    display: block;
    width:100%;
    /* border-radius: 0.5rem; */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.team-info-body{
    padding: 1rem;
}
.team-info-name{
    text-transform: uppercase;
}
.team-info-job{
    text-transform: capitalize;
    margin: 0.5rem 0;
    color: blue;
    font-size: 1.3rem;
}
.team-info-text{
    line-height: 1.5;
    margin-top: 2rem;
}
.team-info-single-favo{
    display: flex;
    margin: 0.5rem 0;
}
.team-info-single-favo-icon{
    font-size: 0.5rem;
    background: black;
    color: yellow;
    padding:0.25rem;
}
.team-info-single-favo-eat{
    margin-left: 1rem;
    text-transform: uppercase;
    align-self: center;
}
@media screen and (min-width:768px){
    .team-info{
        margin: 8rem auto 2rem auto;
    }
    .team-info-text{
        width: 60%;
    }
    .team-info-img{
        position: absolute ;
        width: 45%;
        height: 70%;
        top: -20%;
        right: -10%;
        box-shadow: 0 5px 10px rgba(14, 13, 13,0.5);
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    .team-img-item{
        height: 100px;
        width: 100px;
    }
}
@media screen and (min-width:992px){
    .team-info-img{
        width: 40%;
        height: 70%;
    }
}
/* ########################## */
.prices{
    background: gray;
}
.pricing-card{
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin: 2rem 0;
}
.price-list{
    list-style-type: none;
    
}
.price-item{
    display: flex;
    justify-content: center;
    margin: 1.2rem 0;
    font-size: 2rem;
}
.price-title{
    color: blue;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.price-value{
    margin: 2rem 0;
    font-size: 4rem;
}
.price-icon{
    margin-right: 0.75rem;
}
.price-text{
    text-transform: capitalize;
}
.price-link{
    display: inline-block;
    /* text-decoration: none; */
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    border: 0.10rem solid white;
    color: white;
    border-radius: 1.5rem;
    transition: all 1s ease;
}
.price-link:hover{
    color: black;
    background: blue;
    text-decoration-line: none;

}
.price-custom{
    background: white;
    color: black;
    border-radius: 2.5rem;
    transition: all 1s linear;
}
.price-custom:hover{
    transform: translateY(-1.5rem);
}
.custom-price-link{
    color: yellow;
    border-color: yellow; 
}
@media screen and (min-width:768px){
    .pricing-card{
        flex: 0 0 clac(50% - 0.8rem);
    }
}
@media screen and (min-width:992px){
    .pricing-card{
        flex: 0 0 clac(33.3% - 0.8rem);
    }
}
/* ######blog#################################### */
.blog-img{
    width: 100%;
    display: block;
}
.blog-title{
    font-size: 2rem;
    text-transform: capitalize;
    margin: 1rem 0;

}
.blog-underline{
    width: 3rem;
    height: 0.3rem;
    background: chartreuse;
    margin-bottom: 1rem;
}
.blog-text{
    line-height: 1.5;
}
.blog-link{
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 0.75rem 0;
    color: yellow;
    border: 0.2rem solid yellow;
    transition: all 1s ease;
    text-transform: capitalize;

}
.blog-link:hover{
    background: yellow;
    color: black;
}
@media screen and (min-width:768px){
    .blog{
        margin: 0;
    }
    .blog-info,.blog-img{
        flex: 0 0 50%;
    }
    .bolg-info{
        align-self: center;
        padding: 0 2rem;
    }
    .blog-reverse{
        flex-direction: row-reverse;
    }
    .blog-text{
        width: 80%;
    }

}



